<%- include('../partials/header.ejs') %>

<h3>Player Detail Page</h3>
<div class="players-container">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5><%= player.first_name + ' ' + player.last_name %></h5> 
            </div>
            <ul class="list-group list-group-flush">
                <li>ID: <%= player.id %></li>
                <li>Position: <%= player.position %></li>
                <li>Height: <%= player.height_feet %> feet <%= player.height_inches %> inches</li>
                <li>Weight: <%= player.weight_pounds %> pounds</li>
                <li>Team: <%= player.team.full_name %> (Abbreviation: <%= player.team.abbreviation %>)</li>
            </ul>
        </div>

</div>



<%- include('../partials/footer.ejs') %>